<div class="popup-container">
  <div class="popup-content">
    <section class="contact-area section-padding-bottom">
      <div class="container"> 
        <div class="offer-details">
          <button type="button" class="btn-close" aria-label="Close" (click)="closePopup()"></button>
          <h2>Finacings of this offer</h2>
          <div class="offer-details-content">
            <table class="table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>excel</th>
                  <th>status</th>
                  <th>user</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Loop through each offer and display its details -->
                <tr *ngFor="let financing of financings">
                  <td>{{ financing.financingRequestId }}</td>
                  <td><a [href]="financing.excel">{{ financing.excel }}</a></td>
                  <td>{{ financing.requestStatus }}</td>
                  <td>{{user}}</td>
                  <td><button cclass="btn btn-sm btn-primary me-1"  (click)="downloadFile(financing.excel)">Download Excel File</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
