
<div class="sub-header overlapsec p-relative">
  <div class="overlay overlay-bg-black"></div>
  <div class="pattern"></div>
  <div class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="sub-header-content p-relative">
                      <h1 class="text-custom-white lh-default fw-600">Register</h1>
                      <ul class="custom">
                          <li> <a href="index.html" class="text-custom-white">Home</a>
                          </li>
                          <li class="text-custom-white active">Register</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="table-container mat-elevation-z8" tabindex="0">
 <section class="contact-area section-padding-bottom" >
    <div class="container">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Recherche..." (input)="onSearch($event)">
      </div>
      <h1>Liste des offres</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let offer of offers">
          <div class="card" [attr.id]="offer.offreId">
            <img class="card-img-top" [src]=" offer.offerImage" alt="Offer Image">
            <div class="card-body" >
              <h5 class="card-title">{{ offer.offerPrice | currency }}</h5>
              <p class="card-text">{{ offer.offerDescription }}</p>
              <button class="btn btn-sm btn-primary me-1" (click)="openPopup(offer)">Deatils<i class="bi bi-eye"></i></button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
  
    <!-- Angular et dépendances -->
  


  <!-- Votre script Angular -->



