<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item nav-category">pages</li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Insurance</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/view-insurance">
              View Insurances
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/create-insurance">
              Create Insurance
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#contract"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Insurance Contracts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="contract">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/view-insurance-contract">
              View Request
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
