<div class="slider parallax overlay-bg" id="banner-animation">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">Loanly</span>
        <span class="line"></span>
    </div>
    <div class="transform-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-slider">
                        <div class="slide-item">
                            <div class="banner-text">
                                <h1 class="text-custom-white fw-700">Dedicated To One Client At A Time</h1>
                                <p class="text-custom-white">Professional service with personal attention</p> <a routerLink="/home/register" class="btn-first btn-submit-fill">
              Explore
            </a>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="banner-text">
                                <h1 class="text-custom-white fw-700">Welcome to fast, easy funding</h1>
                                <p class="text-custom-white">Professional service with personal attention</p> <a routerLink="/home/register" class="btn-first btn-submit-fill">
              Explore
            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider -->
<!-- Start Intro -->
<section class="genmed-intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3  col-sm-6">
                <div class="intro-box bg-dark-brown mb-md-20" data-wow-duration="1s">
                    <div class="intro-wrapper text-center"> <i class="flaticon-flag"></i>
                        <h6 class="text-custom-white fw-700">CORPORATE LOAN</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6">
                <div class="intro-box bg-dark-brown mb-md-20">
                    <div class="intro-wrapper text-center"> <i class="flaticon-flag"></i>
                        <h6 class="text-custom-white fw-700">GET FUNDS IN SECOND</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-6">
                <div class="intro-box bg-dark-brown mb-xs-20">
                    <div class="intro-wrapper text-center"> <i class="flaticon-flag"></i>
                        <h6 class="text-custom-white fw-700">REPAY AS YOU GET PAID</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="intro-box bg-dark-brown">
                    <div class="intro-wrapper text-center"> <i class="flaticon-flag"></i>
                        <h6 class="text-custom-white fw-700">ONE FIX FEE</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Intro -->
<!-- Start About -->
<!-- start aboutus-2 -->

<!-- End aboutus-2 -->
<!-- Start Type of payment -->

<!-- End Type of payment -->
<!-- Start Main Services -->
<section class="main-services section-padding p-relative">
    <div class="side-lines"> <span class="box"></span>
        <span class="text">Loanly</span>
        <span class="line"></span>
    </div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-black fw-700">Our Services</h3>
                <div class="section-description">
                    <p class="text-light-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="section-btn"> <a routerLink="/home/register" class="btn-first btn-submit text-light-blue">View More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-xl-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-family"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Home Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-xl-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-kidnapping"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Security Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-xl-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-hook"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Real Estate Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-xl-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-book"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Education Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-md-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-wounded"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Personal Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-md-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-auction"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Business Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative mb-xs-30">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-LOANLY"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Corporate Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="main-services-box p-relative">
                    <div class="main-service-wrapper padding-20">
                        <div class="icon-box"> <i class="flaticon-balance-scale"></i>
                        </div>
                        <h5 class="fw-700"><a routerLink="/home/register" class="text-custom-black">Property Loan</a></h5>
                        <p class="text-light-white no-margin">Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Services -->
<!-- start Loan Calculator -->

<!-- End Loan Calculator -->
<!-- start lw-tab -->

<!-- End lw-tab -->
<!-- Start section process-->
<section class="section-padding exp-cal parallax ln-process">
    <div class="overlay overlay-bg-black"></div>
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h3 class="text-custom-white fw-700">Our Process</h3>
                <div class="section-description">
                    <p class="text-custom-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="exp-cal-img mb-md-30">
                    <img src="/assets/FrontOffice/assets/images/homepage/icon1a.png" class="mb-xl-20" alt="whyexp">
                    <h4 class="text-custom-white fw-600">Get info online </h4>
                   </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="exp-cal-img mb-md-30">
                    <img src="/assets/FrontOffice/assets/images/homepage/icon1b.png" class="mb-xl-20" alt="whyexp">
                    <h4 class="text-custom-white fw-600">Apply Loan Online</h4>
                      </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="exp-cal-img mb-xs-30">
                    <img src="/assets/FrontOffice/assets/images/homepage/icon1c.png" class="mb-xl-20" alt="whyexp">
                    <h4 class="text-custom-white fw-600">Provide Details online</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="exp-cal-img">
                    <img src="/assets/FrontOffice/assets/images/homepage/icon1d.png" class="mb-xl-20" alt="whyexp">
                    <h4 class="text-custom-white fw-600">Get Loan Immidiately</h4>
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section process-->
<!-- Start why choose us -->

<!-- End why choose us -->

<!-- Start Team Doctors -->

<!-- End Team Doctors -->
<!-- Start Blog -->

<!-- End Blog -->
<!-- Start Apply Today/faqs -->

<!-- End Apply Today/faqs -->
<!-- Start Why choose us / testimonials-->

<!-- End Why choose us / testimonials -->
<!-- Start Faqs -->

<!-- End Faqs -->
<!--LOANLY-advertisement-->
<section class="section-padding LOANLY-advertisement parallax">
    <div class="row">
        <div class="col-12">
            <div class="advertisement-text">
                <p class=" text-white fs-20">Fast Approval - Less Fee</p>
                <h3 class="text-white">We are wit you every step .</h3>
                <div class="btn-group">
                    
                    <a routerLink="/home/register" class="btn-first btn-submit-fill fw-600 mb-xs-20">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</section>