<header class="header-style-1">
  <!-- Start Topbar -->

  <!-- End Topbar -->
  <!-- Start Navigation -->
  <div class="main-navigation-style-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="navigation">
            <div class="logo">
              <a routerLink="/"> EasyFund </a>
            </div>
            <div class="main-menu">
              <div class="mobile-logo">
                <a routerLink="/"> EasyFund </a>
              </div>
              <nav>
                <ul class="custom">
                  <li class="menu-item">
                    <a routerLink="/home" class="text-custom-white">Home</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/home/insurance" class="text-custom-white"
                      >Insurance</a
                    >
                  </li>
                  <li class="menu-item">
                    <a routerLink="/home/register" class="text-custom-white"
                      >Register</a
                    >
                  </li>

                  <li class="menu-item">
                    <a routerLink="/home/login" class="text-custom-white"
                      >Login</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div class="hamburger-menu">
              <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navigation -->
</header>
