<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar-back></app-sidebar-back>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                
                <div>
                  <div class="btn-wrapper">
                    <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                    <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                  </div>
                </div>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                  
                  
                  <div class="row">
                    <div class="col-lg-8 d-flex flex-column">
                      
                     
                      <app-claim-details></app-claim-details>
                      
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
                      
                   
                      <app-claims-list></app-claims-list>
                      <app-your-open-claims></app-your-open-claims>

                      
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer-back></app-footer-back>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>