<section>
    <h1 class="form-header">Fund Me</h1>
  <div class="offer-details" *ngIf="offer!== null">
    <img [src]="offer.offerImage" alt="Offer Image">
    <p>Description: {{ offer.offerDescription }}</p>
    <p>Price: {{ offer.offerPrice | currency }}</p>
  
 <div class="form-panel">
    <form [formGroup]="financingForm" (ngSubmit)="onSubmit()" >
        
            <label>Start Date:</label>
            <input formControlName="dateFinancingRequest" (change)="date1($event)" type="date">
          
          <div class="form-group">
            <div *ngIf="test" class="text-danger">
              Final Date should be bigger than start date
            </div>
            <label>End Date</label>
            <input formControlName="finalDate"  (change)="date2($event)" type="date">
          </div>
          
          <div *ngIf="starDate!== null && endDate!== null  " >
            <button   class="btn btn-sm btn-primary me-1" (click)="calculateAmortizationSchedule(offer.offerPrice,endDate,starDate)">Devis</button>
          </div>
          <button class="btn btn-sm btn-primary me-1" type="submit">Submit</button>
    </form>
   
 </div>  
 
</div> 
</section>
