<section>
    <h1 class="form-header">Fund Me</h1>
  <div class="offer-details" *ngIf="offer!== null">
    <img [src]="offer.offerImage" alt="Offer Image">
    <p>Description: {{ offer.offerDescription }}</p>
    <p>Price: {{ offer.offerPrice | currency }}</p>
  
 <div class="form-panel">
    <form [formGroup]="financingForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label>Start Date:</label>
            <input formControlName="dateFinancingRequest" type="date">
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input formControlName="finalDate" type="date">
          </div>
          
         
          <button type="submit">Submit</button>
    </form>
    <div *ngIf="starDate!== null && endDate!== null" >
        <button  (click)="calculateAmortizationSchedule(offer.offerPrice,endDate,starDate)">Devis</button>
      </div>
 </div>  
</div> 
</section>
