<div class="col-12 grid-margin stretch-card">
    <div class="card card-rounded">
        <div class="card-body">
            <button class="close-button btn btn-sm btn-danger" style="float: right;" (click)="onClose()">
                <i class="bi bi-x-lg"></i>
            </button>
            <h4 class="card-title card-title-dash" style="padding-bottom:20px; padding-top:20px;"><strong>User Details</strong></h4>
            <hr>
            
            <h5 style="margin-bottom: 20px;"><strong>Account Details</strong></h5>
            <hr>
            <div class="details-container">
                <div class="form-group row">
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="userId" class="form-label">User ID:</label>
                        <input type="text" class="form-control" id="userId" name="userId" [value]="data.userId" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="firstname" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" [value]="data.firstname" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="lastname" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" [value]="data.lastname" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email" [value]="data.email" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="email" class="form-label">Number:</label>
                        <input type="text" class="form-control" id="email" name="email" [value]="data.phoneNumber" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="email" class="form-label">Role:</label>
                        <input type="text" class="form-control" id="email" name="email" [value]="data.role" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="email" class="form-label">Cin:</label>
                        <input type="text" class="form-control" id="email" name="email" [value]="data.cin" readonly>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px;">
                        <label for="email" class="form-label">Salaire:</label>
                        <input type="text" class="form-control" id="email" name="email" [value]="data.salary" readonly>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
