<div class="row">
<section class="contact-area section-padding-bottom">
      <div class="container">  
             
                  <div>
                    <div class="popup" *ngIf="show" (click)="closePopup($event)">
                        <div class="popup-content" (click)="stopPropagation($event)">
                          <h2>test</h2>
                          <p>financing requests</p>
                          <button (click)="closePopup()">Close</button>
                          <ul>
                            <li *ngFor="let financing of financings">
                                <p><strong>user</strong>{{financing.userId}}</p>
                                <p><strong>excel</strong><a [href]="financing.excel" target="_blank">{{financing.excel}}</a></p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <button class="btn btn-sm btn-primary me-1"  *ngIf="!show" (click)="show = !show">add offer </button>
                      <button class="btn btn-sm btn-primary me-1"  *ngIf="show" (click)="show = !show">Go to List</button>
                      
                      <div *ngIf="!show">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            choose Status
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" (click)="status( 'ACCEPTED')">ACCEPTED</button>
                            <button class="dropdown-item" (click)="status('PENDING')">PENDING</button>
                            <button class="dropdown-item" (click)="getOffers()">ALL</button>
                          </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary me-1" *ngIf="!show" (click)="scrap()">Scrap offers</button>
                      <button class="btn btn-danger" *ngIf="!show"(click)="deleteAll()">Delete All</button>
                    <div *ngIf="show">
                      <div class="form-panel">
                        <h1 class="form-header">Create Offer</h1>
                      <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                            <label>Description:</label>
                            <input formControlName="offerDescription" type="text">
                          </div>
                          <div class="form-group">
                            <label>Link:</label>
                            <input formControlName="offerLink" type="text">
                          </div>
                          <div class="form-group">
                            <label>Price:</label>
                            <input formControlName="offerPrice" type="text">
                          </div >
                          <div class="form-group">
                            <label>Price:</label>
                            <input formControlName="offerImage"  type="file">
                            
                          </div >
                          <div class="form-group">
                            <label>Status:</label>
                            <select formControlName="offerStatus">
                              <option value="PENDING">Pending</option>
                              <option value="LISTED">Listed</option>
                              
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Category:</label>
                            <select class="select.form-control" formControlName="offerCategory">
                              <option value="TECH">Technology</option>
                              <option value="MEC">mecanique</option>
                              
                            </select>
                          </div >
                          <button cclass="btn btn-sm btn-primary me-1" type="submit">Submit</button>
                          
                          
                        </form>
                      </div> 
                    </div>
                      <div *ngIf="!show" class="table-responsive  mt-1">
                        <h4 class="card-title card-title-dash">all offers</h4>
                          
                         
                          
                          <table class="table select-table" >
                          <thead>
                            <tr class="fixed">
                              <th></th>
                              <th>Description</th>
                              
                              <th>Status</th>
                              
                              <th>Fianancings</th>
                              <th>Details</th>
                              <th >actions</th>
                              
                          </tr>
                        </thead>
                          <tbody>
                          <tr *ngFor="let offer of offers">
                            <td>
                              <img [src]="image" *ngIf="isBase64(offer.offerImage); else otherURL">
                              <ng-template #otherURL><img [src]="offer.offerImage"></ng-template></td>
                            <td>{{ offer.offerDescription }}</td>
                            
                            <td>
                              <span [ngStyle]="{'background-color': getStatus(offer.offerStatus), 'border-radius': '5px', 'padding': '5px', 'color': 'white'}">
                                {{ offer.offerStatus }}
                              </span>
                            </td>
                            
                            
                            <td><button class="btn btn-sm btn-primary me-1"  (click)="openPopup(offer.offreId)"> Display</button> </td>
                            <td><button class="btn btn-sm btn-primary me-1"  (click)="openDetails(offer)"> Details
                             </button> </td>
                            
                            <td >
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{ selectedOption }}
                                </button>
                                <div class="dropdown-menu">
                                  <button class="dropdown-item" (click)="approve(offer.offreId, 'ACTIVE')">Approve</button>
                                  <button class="dropdown-item" (click)="approve(offer.offreId, 'CLOSED')">Refuse</button>
                                  <button  class="dropdown-item"  (click)="delete(offer.offreId)">Delete</button>
                                </div>
                              </div>
                            </td>
                            
                        </tr>
                    
                      </tbody>
                  </table>
                </div>
                </div>
                  </div>
                  
                 
                </section>

              </div>