.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 90%; /* Set maximum width */
  max-height: 90%; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
}

.popup-content {
  /* Content styles */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .popup-container {
    padding: 10px;
    max-width: 95%;
    max-height: 95%;
  }
}


h1{
  color: #1F3BB2;
  font-size: 40px;
}

h2{
  color: #1F3BB2;
  font-size: 28px;
}


label {
  color: gray;
}

input[type="text"] {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}



.close-button i {
  font-size: 1.5rem;
  color: #333;
}

.close-button:hover i {
  color: red;
}


.details-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-panel {
    background-color: white;
    border-radius: 15px;
    width: 1000px;
    margin: auto;
    padding: 10px;
    border: 1px solid #0e37db;
}

.select.form-control {
    background-color: white;
    color: black;
    font-weight: bold;
}

.success-message {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success-message p {
    margin: 0;
}


.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: inline-block;
  margin-top: 20px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

/*
h2 strong {
    color: #8D8D8D;
    font-size: 42px;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.details-container p {
    margin-right: 40px;
    font-size: 26px;
}

.details-container strong {
    color: #1F3BB2;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button i {
  font-size: 1.5rem;
  color: #333;
}

.close-button:hover i {
  color: red;
} */
