.popup-container {
    width: 1000px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background-color: white; /* Optionally, you can set a background color */
    border: 1px solid #ccc; /* Optionally, add border for better visibility */
    border-radius: 5px; /* Optionally, add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.popup-content {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Add padding inside the popup */
    height: 100%; /* Ensure popup content stretches to fill the container */
}

h2 strong {
    color: #8D8D8D; /* Set color to #1F3BB2 */
    font-size: 42px; /* Increase font size */    
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px; /* Add spacing below the details container */
}

.details-container p {
    margin-right: 40px; /* Adjust as needed */
    font-size: 26px; /* Set font size */
}

.details-container strong {
    color: #1F3BB2; /* Set color to #1F3BB2 */
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button i {
  font-size: 1.5rem;
  color: #333; /* Adjust color as needed */
}

.close-button:hover i {
  color: red; /* Adjust hover color as needed */
}
