<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Loanly | Contact Us</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/FrontOffice/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/FrontOffice/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/FrontOffice/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="shortcut icon" href="/assets/FrontOffice/assets/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="/assets/FrontOffice/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="/assets/FrontOffice/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Flaticons -->
    <link href="/assets/FrontOffice/assets/css/font/flaticon.css" rel="stylesheet">
    <link href="/assets/FrontOffice/assets/font/flaticon.css" rel="stylesheet">
    <!-- Slick Slider -->
    <link href="/assets/FrontOffice/assets/css/slick.css" rel="stylesheet">
    <!-- Range Slider -->
    <link href="/assets/FrontOffice/assets/css/ion.rangeSlider.min.css" rel="stylesheet">
    <!-- Datepicker -->
    <link href="/assets/FrontOffice/assets/css/datepicker.css" rel="stylesheet">
    <!-- magnific popup -->
    <link href="/assets/FrontOffice/assets/css/magnific-popup.css" rel="stylesheet">
    <!-- Nice Select -->
    <link href="/assets/FrontOffice/assets/css/nice-select.css" rel="stylesheet">
    <!-- Animate -->
    <link href="/assets/FrontOffice/assets/css/animate.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/assets/FrontOffice/assets/css/style.css" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="/assets/FrontOffice/assets/css/responsive.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render=6LdxUhMaAAAAAIrQt-_6Gz7F_58S4FlPWaxOh5ib"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- place -->
</head>

<body>
    <!-- Start Main Body -->
    <div class="main-body">
        <!-- Start Header -->
       <app-header-front></app-header-front>
        <!-- Start Subheader -->
       <router-outlet></router-outlet>
        <!-- End Subheader -->
        <!-- Start Contact -->
        
        <!-- End Contact Bottom -->
        <!-- Start Footer -->
        <app-footer-front></app-footer-front>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="payment-logo mb-md-20"> <span class="text-custom-white fs-14 mr-3">We are accept</span>
                            <div class="payemt-icon">
                                <img src="/assets/FrontOffice/assets/images/footer-bottom-img.png" alt="#">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-custom-white no-margin">© Metropolitantheme - 2020 | All Right Reserved. <a href="https://themeforest.net/user/metropolitantheme/" target="_blank" class="text-custom-white">Designed By Metropolitantheme</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <div id="back-top" class="back-top"> <a href="#top"><i class="flaticon-up-arrow"></i></a>
        </div>
    </div>
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="assets/FrontOffice/assets/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="assets/FrontOffice/assets/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/FrontOffice/assets/js/bootstrap.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/FrontOffice/assets/js/ion.rangeSlider.min.js"></script>
    <!-- Slick Slider -->
    <script src="assets/FrontOffice/assets/js/slick.min.js"></script>
    <!-- Datepicker -->
    <script src="assets/FrontOffice/assets/js/datepicker.js"></script>
    <script src="assets/FrontOffice/assets/js/datepicker.en.js"></script>
    <!-- Nice Select -->
    <script src="assets/FrontOffice/assets/js/jquery.nice-select.js"></script>
    <!-- Steps -->
    <script src="assets/FrontOffice/assets/js/jquery-steps.js"></script>
    <!-- Nice Select -->
    <script src="assets/FrontOffice/assets/js/particles.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/FrontOffice/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- Isotope Gallery -->
    <script src="assets/FrontOffice/assets/js/isotope.pkgd.min.js"></script>
    <!-- Wow js -->
    <script src="assets/FrontOffice/assets/js/wow.min.js"></script>
    <!-- Custom Js -->
    <script src="assets/FrontOffice/assets/js/custom.js"></script>
    <!-- Contact form -->
    <script src="assets/FrontOffice/assets/js/jquery.validate.min.js"></script>
    <script src="assets/FrontOffice/assets/js/form.js"></script>
    <!-- /Place all Scripts Here -->
</body>

</html>