
<div class="sub-header overlapsec p-relative">
  <div class="overlay overlay-bg-black"></div>
  <div class="pattern"></div>
  <div class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="sub-header-content p-relative">
                      <h1 class="text-custom-white lh-default fw-600">Register</h1>
                      <ul class="custom">
                          <li> <a href="index.html" class="text-custom-white">Home</a>
                          </li>
                          <li class="text-custom-white active">Register</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> 
  <div class="container" >
    <div class="row" >
      <table class="table" style="background-color: white;">
        <thead>
          <tr>
            <th class="custom-black">financingRequestID</th>
            <th class="custom-black">Start Date</th>
            <th class="custom-black">End Date</th>
            <th class="custom-black">download</th>
            <th class="custom-black" style="text-align: center;">TypePeriod</th>
            <th class="custom-black">Start Date</th>
            
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let financing of financingList">
            <td>{{ financing.financingRequestId }}</td>
            <td>{{ financing.dateFinancingRequest }}</td>
            <td>{{ financing.finalDate }}</td>
            <td><button class="btn btn-sm btn-warning me-1" (click)="downloadFile(financing.excel)"><i class="bi bi-pen" ></i>download</button></td>
            <td><button class="btn btn-sm btn-warning me-1" (click)="pay(financing.financingRequestId)"><i class="bi bi-pen" ></i>pay</button></td>
            <td>
              <ng-container *ngIf="financing.creditAmomunt !== null; else nullTemplate">
                {{ financing.creditAmmount }} TND
              </ng-container>
              <ng-template #nullTemplate>
                0 TND
              </ng-template>
            </td>
          
           <!-- Buttons column -->
            <!-- Add more table data cells as needed -->
          </tr>
        </tbody>
      </table>
  </div>