<div class="sub-header p-relative">
  <div class="overlay overlay-bg-black"></div>
  <div class="pattern"></div>
  <div class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="sub-header-content p-relative">
                      <h1 class="text-custom-white lh-default fw-600">Apply for a New Credit, Make your dream easy with EasyFund</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About EasyFund
            </h2>
          </div>
          <p>
            At Our Agency, we believe in the power of impactful storytelling and design to elevate brands and captivate audiences. With a focus on innovation and creativity, we strive to deliver compelling solutions that resonate with our clients and their target markets.          </p>
          <hr>
          <a href="" [routerLink]="['/home']">
            Read more
          </a>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- end about section -->

<!-- help section -->

<section class="help_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Discover How  <br>
              Microcredit Communities

            </h2>
          </div>
          <p>
            Curious about how microcredit transforms lives and empowers communities? Watch our informative video to learn more about the impact of microcredit and how it works to provide financial opportunities to those in need.          </p>
          <a href="">
            See Videos
          </a>
        </div>
      </div>
     
    </div>
  </div>
</section>


<section class="news_section layout_padding-bottom">
    <div class="content-wrapper">
      <div class="row">
        <div class="container main-content" id="content">
          <app-home #homeSection></app-home>
          <!-- <app-statement #statementSection></app-statement>
          <app-chart #chartSection></app-chart>
          <app-grid #gridSection></app-grid> -->
        </div>
      </div>
    </div>
</section>

<!-- end client section -->

<section class="contact_section news_section layout_padding-bottom centred">
  <div class="row" style="margin-left:30%; display: block;">
    <div class="col-md-5  offset-lg-2">
      <div class="">
        <div class="heading_container">
          

          <section class="contact_section news_section layout_padding-bottom centred">
            <div class="d-flex">
              <button class="btn btn-primary" >
                <a href="" [routerLink]="['/credit/applyMicrocredit']">
                  <h2 style="color: white;">
                    Apply for a credit
                  </h2>
                </a>
              </button>
            </div>
  </section>
        </div>
        
      </div>
    </div>
</div>
</section>




<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->

<app-footer-back></app-footer-back>
