.form-panel {
  background-color: white;
  /* Creates the curved edges */
  width: 95%;
  margin: auto;
  /* Center the panel */
  padding: 20px;
}


select.form-control {
  background-color: white;
  color: black;
  font-weight: bold;
}


.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}

/* component.css */

.success-message {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.success-message p {
  margin: 0;
}
